<nav>
    <div class="nav-mobile">
         <h1 class="logo">EDUTEC</h1>

         <span class="hamburguesa"><i class="fas fa-bars"></i></span>
    </div>

         <ul class="menu">
                 <li class="menu-item"><a href="index.html" class="menu-link">Inicio</a></li>
                 <li class="menu-item"><a href="#" class="menu-link">¿Quienes somos?</a></li>
                 <li class="menu-item container-submenu">
                      <a href="#" class="menu-link submenu-btn">Servicios<i class="fas fa-angle-down"></i></a>
                     <ul class="submenu">
                         <li class="menu-item"><a href="#" class="menu-link">Medición puesta a tierra</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Instalaciones electricas</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Corrección de factor de potencia</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Certificación de aptitud de instalación electrica</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Planos electromecanicos</a></li>

                     </ul>
                 </li>
                 <li class="menu-item"><a href="#" class="menu-link">Contacto</a></li>
                 <li class="menu-item"><a href="#" class="menu-link">Consultas frecuentes</a></li>
         </ul>

</nav>