<nav>
    <div class="nav-mobile">
         <h1 class="logo">EDUTEC</h1>

         <span class="hamburguesa"><i class="fas fa-bars"></i></span>
    </div>

         <ul class="menu">
                 <li class="menu-item"><a href="index.html" class="menu-link">Inicio</a></li>
                 <li class="menu-item"><a href="#" class="menu-link">¿Donde estamos?</a></li>
                 <li class="menu-item container-submenu">
                      <a href="#" class="menu-link submenu-btn">Productos<i class="fas fa-angle-down"></i></a>
                     <ul class="submenu">
                         <li class="menu-item"><a href="#" class="menu-link">Lamparas</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Cables</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Llaves termicas</a></li>
                         <li class="menu-item"><a href="#" class="menu-link">Disyuntores</a></li>

                     </ul>
                 </li>
                 <li class="menu-item"><a href="#" class="menu-link">Contacto</a></li>
                 <li class="menu-item"><a href="#" class="menu-link">Consultas frecuentes</a></li>
         </ul>

</nav>