/* GENERALES */

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

a{
    text-decoration: none;
    color: #ffffff;
}

ul{
    list-style: none;
    margin: 0px;
}

.header-matriculado, .header-materiales{
    background-color: #f4f4f4;
}

.sec-title{
    color: #129BE1;
}

/* PAGINA BIENVENIDOS */

.bienvenidos, .sub-bienvenidos{
    text-align: center;
    color: #129BE1;
}

.seleccion-serv{
    display: flex;
    justify-content: space-between;
}

.container-left, .container-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.img-bienvenidos{
    max-width: 100%;
    height: 350px;
    box-shadow: 0px 0px 4px 4px rgb(167, 139, 139);
    border-radius: 30px;
}

.btn-bienvenidos{
    background-color: #129BE1;
    padding: 15px 0px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    margin: 25px 0px;
}

.btn-bienvenidos:hover{
    background-color: #524e4e;
}

/*  NAVBAR */

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 58px;
    padding: 0px 20px;
}

h1.logo{
    font-size: 35px;
    font-weight: bold;
    color: #129BE1;
    padding: 10px 0px;
    margin: 0px;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu, .submenu{
    padding: 0;
    margin: 0;
}

.menu-link{
    display: inline-block;
    padding: 20px;
    color: #129BE1;
    font-size: 15px;
}

.menu-link i{
   padding: 0px 0px 0px 10px;
}

.menu-link:hover{
    background: #D8FFE1;
}

.submenu li:hover{
    background-color: #D8FFE1;
}

.hamburguesa{
    display: none;
    background: white;
    padding: 22px;   
    color: #129BE1;
    cursor: pointer;
    font-size: 20px;
}

.container-submenu{
    position: relative;
}

.submenu{
    position: absolute;
    top: 60px;
    width: 250px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
    background-color: #ffffff;
}

/* HERO */

.hero{
    display: flex;
    justify-content: center;
}

.hero-img{
    display: inline-block;
    margin: 25px 0px;
    border-radius: 20px;
}

/*  SECCION SERVICIOS */

.container-servicios{
    display: flex;
    justify-content: center;
}

.servicio{
    background-color: #2a6988;
    color: #ffffff;
    margin: 0px 20px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 20px;
}

.servicio:hover, .servicio2:hover{
    background-color: #1f307e;
    text-decoration: underline;
}


/* CONTACTO */

.contacto{
    margin-bottom: 20px;
}

.ban-contacto{
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer{
    background-color: #212529;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 10px 0px
}

.foot-left, .foot-center, .foot-right{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-title{
    font-size: 15px;
}

.item-list a{
    font-size: 12px;
    padding: 10px 0px;
}

.item-list a:hover{
    text-decoration: underline;
}

/* SECCION UBICACION */

.ubi-bot{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECCION PRODUCTOS */

.servicio2{
    background-color: #2a6988;
    margin: 0px 20px;
    padding: 0px 20px;
    border-radius: 20px;
}


/* SECCION CARDS */

.container-cards{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card{
    width: 25%;
    margin: 0px 50px;
    box-shadow: 0px 0px 4px 4px rgb(172, 172, 172);
    border-radius: 10px;
}

.card-img{
    max-width: 100%;
    height: 200px;
}

.card-desc{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin:10px 7px;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin: 10px 0 5px 7px;
} 

.card-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 8px 15px;
    background-color: #524e4e;
    border-radius: 5px;
    margin: 8px 0 10px 7px;
    display: inline-block;
    align-content: center;
    color: #ffffff;
}

.card-btn:hover{
    background-color: #129BE1;
}

/* RESPONSIVE */

/* 992PX */

@media(max-width:992px){
    .container{
        max-width: 900px;
        margin: 0 auto;
    }

    .nav-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu{
        display: none;
        background-color: #D8FFE1;
        width: 100%;
    }

    .hamburguesa{
        display: block;
        color: #129BE1;
        font-size: 20px;
    }

    .showMenu{
        display: block;
        z-index: 2;
    }

    nav{
        display: flex;
        flex-direction: column;
        height: 60px;
    }

    h1.logo{
        font-size: 30px;
        padding-top: 10px;
    }

    .hamburguesa{
        font-size: 25px;
        padding: 12px 10px 0px 10px;
    }

    .menu-link i{
        display: none;
     }

     .submenu{
         display: none;
     }

     .card{
         margin: 0px 20px;
     }

     .servicio{
         font-size: 15px;
         margin: 0px 10px;
     }

     .servicio:hover{
        text-decoration: none;
        background-color: #2a6988;
    }

     .contacto{
         margin-bottom: 15px;
     }
}

/* 768PX */

@media(max-width: 768PX){
    .container{
        max-width: 700px;
        margin: 0 auto;
    }

    .hero-img{
        max-width: 100%;
    }

    .sec-title{
        font-size: 23px;
    }

    .btn-bienvenidos{
        font-size: 18px;
    }

    .ubi-p{
        font-size: 12px;
    }

    .servicio{
        font-size: 12px;
    }

    .servicio2{
        font-size: 14px;
    }

    .img-contacto{
        max-width: 100%;
    }

    .contacto{
        margin-bottom: 10px;
    }


}

/* 576PX */
@media(max-width: 576px){
    
    .container{
        max-width: 320px;
        margin: 0 auto;
    }

    body{
        background-color: white;
    }

    .container-servicios{
        max-width: 100%;
        flex-direction: column;
    }

    .servicio{
        font-size: 12px;
        width: 70%;
        margin: 10px 10px;
    }

    .contacto{
        margin-bottom: 10px;
    }

    .sec-title{
        font-size: 20px;
    }


    footer{
        flex-direction: column;
    }

    h1.logo{
        font-size: 25px;
    }

    .hamburguesa{
        font-size: 20px;
    }

    nav{
        height: 50px;
    }

    .bienvenidos{
        font-size: 20px;
    }
    .sub-bienvenidos{
        font-size: 18px;
    }

    .seleccion-serv{
        flex-direction: column;
    }

    .container-left, .container-right{
        width: 80%;
    }

    .img-bienvenidos{
        height: 200px;
    }

    .btn-bienvenidos{
        font-size: 15px;
        padding: 10px 0px;
    }

    .ubi-p{
        font-size: 12px;
    }

    .servicio2{
        font-size: 15px;
        margin: 10px 0px;
        width: 70%;
    }

    .servicio2:hover{
        text-decoration: none;
        background-color: #2a6988;
    }

    .container-cards{
        flex-direction: column;
    }

    .card{
        margin: 10px 0px;
        width: 60%;
    }

}