<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <header class="header-matriculado">
        <%- include('../partials/navEM') %>

    </header>
    
    <script src="/js/main.js"></script>
</body>
</html>